.CardF {
    display: flex;
    align-items: center;
    background-color: #c3f02f30;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 32px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
    font-size: larger;
    flex-direction: column;
    text-align: center;
}

.contenedorFormacion {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.hr {
    color: #ffff;
}

.crearFormacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70%;
    backdrop-filter: blur(10px);
    background-color: #c3f02f30;
    border: 4px solid rgba(255, 255, 255, 0.23);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
}

label {
    display: inline-block;
    width: auto;
}

.input {
    font-size: 1em;
}

.btncrearfor {
    font-size: 1.5em;
    margin: 10px 0;
}

.actualizarFormacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70%;
    backdrop-filter: blur(10px);
    background-color: #c3f02f30;
    border: 4px solid rgba(255, 255, 255, 0.23);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
}

label {
    display: inline-block;
    width: auto;
}

.boto2for {
    font-size: 2em;
    margin-right: 5%;
}

.input {
    font-size: 1em;
}

.btnactfor {
    font-size: 2em;
    margin-right: 5%;
}

/* Media Queries */
@media (max-width: 1024px) {
    .CardF {
        font-size: medium;
        padding: 20px;
    }

    .contenedorFormacion {
        padding: 5px;
    }

    .crearFormacion, .actualizarFormacion {
        max-width: 90%;
        padding: 10px;
    }

    .input, .btncrearfor, .boto2for, .btnactfor {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .CardF {
        font-size: small;
        padding: 15px;
    }

    .contenedorFormacion {
        flex-direction: column;
        align-items: center;
    }

    .crearFormacion, .actualizarFormacion {
        max-width: 100%;
        padding: 5px;
    }

    .input, .btncrearfor, .boto2for, .btnactfor {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .CardF {
        font-size: smaller;
        padding: 10px;
    }

    .contenedorFormacion {
        padding: 2px;
    }

    .crearFormacion, .actualizarFormacion {
        max-width: 100%;
        padding: 2px;
    }

    .input, .btncrearfor, .boto2for, .btnactfor {
        font-size: 0.8em;
    }
}
