/* Crear skill */
.crearskill {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70%;
    backdrop-filter: blur(10px);
    background-color: #c3f02f30;
    border: 3px solid rgba(255, 255, 255, 0.23);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
}

/* Botones */
.botones {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

/* Actualizar skill */
.actualizarskill {
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70%;
    backdrop-filter: blur(10px);
    background-color: #c3f02f30;
    border: 3px solid rgba(255, 255, 255, 0.23);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(220, 100, 30);
}

/* Card Skill */
.CardSkill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 80%; /* Cambié el ancho máximo para mejor adaptabilidad */
    background-color: #c3f02f30;
    border: 3px solid rgba(255, 255, 255, 0.23);
    border-radius: 30px;
    padding: 10px; /* Ajusté el padding para mejor visualización en pantallas pequeñas */
    box-shadow: 0 0 20px rgb(220, 100, 30);
}

/* Botones */
.btnskillcrea, .btnskillact, .btnCrear, .btnskill {
    margin-right: 2%;
    font-size: 100%; /* Tamaño de fuente base */
}

/* Botones grandes */
.btnCrear, .btnskill {
    font-size: 200%; /* Tamaño grande para botones importantes */
}

/* Media Queries */
@media (max-width: 1024px) {
    .crearskill, .actualizarskill, .CardSkill {
        max-width: 90%;
        padding: 15px; /* Reduce el padding en pantallas más pequeñas */
    }
    
    .btnskillcrea, .btnskillact, .btnCrear, .btnskill {
        font-size: 90%; /* Ajuste de tamaño de fuente en pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .crearskill, .actualizarskill, .CardSkill {
        max-width: 100%;
        padding: 10px; /* Menos padding en pantallas aún más pequeñas */
    }
    
    .btnskillcrea, .btnskillact, .btnCrear, .btnskill {
        font-size: 80%; /* Ajusta más el tamaño de fuente */
    }
}

@media (max-width: 480px) {
    .crearskill, .actualizarskill, .CardSkill {
        max-width: 100%;
        padding: 5px; /* Muy poco padding en pantallas muy pequeñas */
    }
    
    .btnskillcrea, .btnskillact, .btnCrear, .btnskill {
        font-size: 70%; /* Tamaño de fuente más pequeño para pantallas muy pequeñas */
        margin-right: 0; /* Elimina el margen en pantallas pequeñas */
    }
}
